#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  gap: 50px;
}

.logo {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.crearbutton {
  margin: 0 auto;
  max-width: 200px;
}

.input {
  margin: 0 auto;
  max-width: 200px;
}
